.workspace-leaf-content[data-type="ace-code-editor"] {
	.view-content {
		overflow: hidden;
	}
}

.workspace-leaf-content[data-type="ace-code-editor"] .ace_search.right {
	right: auto;
	left: 20px;
}
